<div class="container mb-40">
      <div class="lg:w-4/5 mx-auto">
      <hr class="mb-4 text:blue-600">
      <% @book.comments.each do |comment| %>
       <div class="container flex mb-2">
         <%= image_tag ("default_profile.png"), class: 'w-8 h-8 mt-4 mr-2' %>
          <div class="mb-4 border rounded p-4 w-full relative">
            <%= render 'shared/dropdown', book: @book, comment: comment %>
            <div class="flex item-center gap-4 mb-4">
               <strong class="leading-relaxed italic"><%= comment.user.name %></strong>
               <p><%= comment.created_at.to_fs(:short) %></p>
             </div>
             <p class="leading-relaxed"><%= comment.comment %></p>
           </div>
      </div>
      <%end %>
</div>
