<div id="<%= dom_id like %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= like.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Book:</strong>
    <%= like.book_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Like counts:</strong>
    <%= like.like_counts %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this like", like, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this like', edit_like_path(like), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
