
<nav class="static top-0 w-full">
    <div class="relative" data-controller="menu">
        <!-- For large screens -->
        <div class="px-6 py-6 bg-blue-600 text-white">
            <div class="container mx-auto flex items-center justify-between">
                <%= render partial: 'shared/logo' %>

                <div class="hidden md:flex items-center gap-4">
                    <%= render 'shared/search_input' %>
                    <%= render 'shared/browse_by_topic' %>
                </div>

                <div class="justify-end flex items-center space-x-4 xl:space-x-8">
                   <div class="hidden md:block ">
                       <%= render 'shared/nav_links' %>
                   </div>
                    <div class="flex md:hidden">
                        <button  aria-label="open menu" data-action="menu#openMenu" class="text-black dark:text-white dark:hover:text-gray-300 md:hidden focus:outline-none focus:ring-2 rounded focus:ring-gray-600">
                            <img class=" dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/navigation-I-svg5.svg" alt="toggler">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- For small screen -->
        <div data-menu-target="menu" class="hidden absolute dark:bg-gray-900 z-10 inset-0 md:hidden bg-white flex-col pb-24 w-full">
            <div class="flex items-center justify-between border-b border-gray-200 dark:border-gray-700 pb-4 p-4">
                <%= render 'shared/search_input' %>
                <button data-action="menu#closeMenu" aria-label="close menu">
                    <%= image_tag ("close-icon.png"), class: "w-4 h-4", alt: "close" %>
                </button>
            </div>
            <div class="mt-6 p-4">
                <div class="flex flex-col space-y-6 pb-24 bg-blue-600 text-white px-10 pt-4 rounded">
                    <%= render 'shared/nav_links' %>
                </div>
            </div>
        </div>
    </div>
</nav>
