<div class="flex jutify-center items-center gap-4">
  <% like = current_user.likes.find_by(book: @book) %>
  <% if like.nil? %>
  <form action="/likes" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>"
    />
    <input type="hidden" name="like[book_id]" value="<%= @book.id %>" />
    <button
      type="submit"
      class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 mr-4"
    >
      <svg
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-5 h-5"
        viewBox="0 0 24 24"
      >
        <path
          d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"
        ></path>
      </svg>
    </button>
  </form>
  <% else %>
  <form action="<%= like_path(like) %>" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>"
    />
    <input type="hidden" name="_method" value="DELETE" />
    <button
      type="submit"
      class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-rose-500 mr-4"
    >
      <svg
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-5 h-5"
        viewBox="0 0 24 24"
      >
        <path
          d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"
        ></path>
      </svg>
    </button>
  </form>
  <% end %>
  <%= pluralize(@book.likes.count, 'Like') %>
</div>
