<div class="flex jutify-center items-center gap-4">
  <% like = current_user&.likes&.find_by(book: @book) %>
  <% if like.nil? %>
    <%= button_to(likes_path, method: :post, params: { like: { book_id: @book.id } }, remote: true) do %>
      <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 mr-4">
        <%= inline_svg_tag("like_icon.svg") %>
      </button>
    <% end %>
  <% else %>
    <%= button_to(like_path(like), method: :delete, remote: true) do %>
      <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-rose-500 mr-4">
        <%= inline_svg_tag("like_icon.svg") %>
      </button>
    <% end %>
  <% end %>
  <span><%= pluralize(@book.likes.count, 'Like') %></span>
</div>
