<div class="flex mb-4">
  <div class="flex items-center">
    <% if user_rating %>
      <% rating = user_rating.rating %>
          <p class="pr-4">Your rating: <%= pluralize(rating, 'star') %></p>
    <% else %>
      <p>No rating yet.</p>
    <% end %>

    <% (1..5).each do |rate| %>
      <%= button_to "/rating", method: :post, remote: true, params: { rating: { book_id: @book.id, rating: rate } }, form: { "data-turbo" => false } do %>
        <% if user_rating && rate <= rating %>
              <%= inline_svg_tag("star.svg", alt: "#{rate} star", class: "w-8 h-8 fill-yellow-400 stroke-yellow-400") %>
        <% else %>
              <%= inline_svg_tag("star.svg", alt: "#{rate} star", class: "w-8 h-8 fill-transparent stroke-gray-400") %>
        <% end %>
      <% end %>
    <% end %>

     <p class="ml-4">(<%= ratings&.empty? ? 0 : pluralize(ratings&.sum, 'review') %>)</p>
  </div>
</div>

