 <% invalid = @user.errors.include?(:email) %>

<div class="flex items-center justify-center ">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="flex flex-col items-center justify-center bg-white rounded-lg overflow-hidden shadow-lg pb-20 bg-gray-200">
  <h3 class="bg-blue-600 py-5 text-white font-bold hover:bg-gray-400 w-full text-center">SIGN IN</h3>
  <form class="">

    <div class="my-4 px-10">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Email
      </label>
      <%= f.email_field :email, placeholder: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
       <% if invalid %>
        <div class="text-red-600">
            <% @user.errors.full_messages_for(:email).each do |error_message| %>
              <%= error_message %>.
            <% end %>
        </div>
       <% end %>
    </div>

    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Password
      </label>
      <div class="relative">
         <%= f.password_field :password, id: "password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "confirm password" %>
         <i id="visibility_btn_one"><span id="icon_one" class="cursor-pointer material-symbols-outlined absolute inset-y-0 right-0 grid place-content-center px-4">visibility_off</span></i>
      </div>
      <% if invalid %>
        <div class="text-red-600">
            <% @user.errors.full_messages_for(:password).each do |error_message| %>
              <%= error_message %>.
            <% end %>
        </div>
       <% end %>

    <% if devise_mapping.rememberable? %>
       <div class="mt-5">
         <%= f.check_box :remember_me, class: 'h-6 w-6 rounded-md shadow mr-2' %>
         <%= f.label :remember_me, class: 'text-gray-700 text-md' %>
       </div>
    <% end %>
    <%= link_to "Forgot your password? 🤔", new_password_path(resource_name), class: 'block py-5 ml-20 text-gray-700 text-md font-bold' %>
    </div>

    <div class="">
      <%= f.submit "SIGN IN", class: "bg-blue-600 text-white px-28 rounded-full py-2 font-bold cursor-pointer shadow hover:shadow-lg" %>
    </div>

  <div class="text-center mt-12">
    <p class="mb-5 text-gray-700 text-md font-bold">Don't have an account?</p>
    <%= link_to "SIGN UP NOW", new_registration_path(resource_name), class: 'text-blue-600 font-bold cursor-pointer' %>
  </div>
  </form>
</div>
<% end %>
</div>


