<header class="text-gray-600 body-font bg-gray-200 border-4 border-b-blue-600">
  <div class="container mx-auto flex flex-wrap p-5 md:flex-row items-center justify-between">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
    <%= link_to :back  do %>
     <div class="flex items-center">
        <%= image_tag "book_icon.png", class: 'w-10 h-10' %>
        <span class="ml-3 text-xl cursor-pointer text-gray-700 font-bold">Book Review</span>
     </div>
    <% end %>
    </a>

    <nav class="md:ml-auto flex flex-wrap items-center text-gray-700 text-md font-bold justify-center">
        <% if user_signed_in? %>
          <div class="flex justify-center items-center">
            <%= link_to current_user.name, edit_user_registration_path, class:"hover:text-gray-900" %>
            <%= render partial: 'layouts/dropdown' %>
          </div>

        <% else %>
          <%= link_to "Sign In", new_user_session_path, class:"mr-5 hover:text-gray-900" %>
          <%= link_to "Sign up", new_user_registration_path, class:"mr-5 hover:text-gray-900"%>
        <% end %>
    </nav>
  </div>
</header>
